.form-style{
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;     
}

.form-style:hover{
    border: 1px outset teal !important;
    background-color: rgb(228,242,227) !important;
}

.form-style:focus {
    border: 1px outset teal !important;
    background-color: white;
    box-shadow: none !important;
    outline: none !important;
}

.input-style:focus {
    border: 1px outset teal !important;
    background-color: white;
    box-shadow: none !important;
    outline: none !important;
}

.input-style:active {
    border: 1px outset teal !important;
    background-color: white;
    box-shadow: none !important;
    outline: none !important;
}

.input-style:hover {
    border: 1px outset teal !important;
    background-color: rgb(228,242,227) !important;
}

.newsletter-style:focus{
    border: 1px outset teal !important;
    background-color: white;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 4px !important;
}

.newsletter-style:active{
    border: 1px outset teal !important;
    background-color: white;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 4px !important;
}

.newsletter-style:hover{
    border: 1px outset teal !important;
    background-color: rgb(228,242,227) !important;
    border-radius: 4px !important;
}